.titulo {
    color: green;
    text-align: center;
}

p#Descricao {
    color: blue;
}

p.promocao {
    color: rgba(0, 85, 196, 0.555);
}

#rodape.final-pagina {
    background-color: pink;
    text-align: center;
}

/*Cor de fundo para todos da classe novo-curso*/

.ADS,
.CIC,
.CDI {
    background-color: lightblue;
}

.ADS {
    color: red;
}

.ADS,
.CIC,
.CDI {
    text-align: center;
    padding: 22px;
    border: 20px solid lightseagreen;
}